<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MyConStr"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True"/>-->
    <add name="MyConString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-13LL2HE\SQLSERVER;database=Practice;uid=sa;password=jorige;"/>

  </connectionStrings>  
  <!--<appSettings>
    <add key="MyConString" value="Data Source=(localdb)\Projects;Initial Catalog=TicketManagementSystem;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  </appSettings>-->
</configuration>